body {
	background-color: $light-gray;
	font-family: Helvetica;

	.top-display, .lower-display {
		width: 900px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		color: $gray;
	}

}


// * {
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// }

.clear {
	clear: both;
}
