.middle-section {
	width: 100%;
	height: 233px;
	margin: 20px 0 0 0;
	background: url(../img/gradient-slice.png) repeat-x;
	@include breakpoint(laptop) {
		width: 100%;
		height: 233px;
		margin: 20px 0 0 0;
		background: url(../img/gradient-slice.png) repeat-x;
	}

	
	.middle-container {
		width: 900px;
		margin-right: auto;
		margin-left: auto;
		@include breakpoint(laptop) {
			width: 900px;
			margin: 0 auto;
		}
		@include breakpoint(tablet) {
			width: 100%;
		}	
		

		.middle-description {
			float: left;
			width: 66%;
			padding: 30px;
			color: $white;
			line-height: 20px;
			@include breakpoint(laptop) {
				line-height: 20px;
				float: left;
				padding: 30px;
				width: 66%;
			}
			@include breakpoint(tablet) {
				float: left;
				// padding: 30px;
				width: 66%;
				line-height: 15px;
			}
			@include breakpoint(phone) {
			  float: none;
			  margin: 0;
			  width: 100%;
			  padding: 9px;
			}


			h3 {
				margin: -2px 0px 4px 11px;
				color: white;
				@include breakpoint(laptop) {
					margin: -2px 0px 4px 11px;
				}
			}

			p {
				margin: -3px 0px 13px 15px;
				font-size: 13px;
				color: white;
				@include breakpoint(laptop) {
					margin: -3px 0px 13px 15px;
					font-size: 13px;
				}
			}

			ul {
				margin: -4px 0 0px 22px;
				font-size: 13px;
				color: white;
				list-style: none;
			}
		}

		.middle-example {
			margin: 9px 0 0 0;
			float: right;
			width: 33%;
			@include breakpoint(laptop) {
				margin: 9px 0 0 0;
				float: right;
				width: 33%;
			}
			@include breakpoint(tablet) {
				float: right;
				width: 33%;
			}
			@include breakpoint(phone) {
		    float: left;
			  margin: 0px;
			  width: 100%;
			  height: 165px;
			  padding: 28px;
			  background-color: $black;
			  border-bottom: solid 2px $black;
			}

			.titan-logo {
				margin: 0 0px 0 -7px;
				@include breakpoint(phone) {
					margin: 0 20px 0 10px;
				}
			}

			.pro-design {
				margin: 4px 0 0 5px;
				@include breakpoint(phone) {
					margin: 4px 0 0 30px;
				}
			}

			.high-end {
				margin: 7px 0px 7px -8px;
				@include breakpoint(phone) {
					margin: 7px 20px 7px 10px;
				}
			}

			.see-our-work {
				margin: 9px 0px 0px 1px;
				@include breakpoint(phone) {
					margin: 9px 0px 0px 1px;
				}
			}
		}
	}
}