/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 79, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 152, ../sass/partials/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 173, ../sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 185, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 193, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 203, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 212, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 221, ../sass/partials/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 236, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 242, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 248, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 254, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 260, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 272, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 283, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 293, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 301, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 309, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 313, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 325, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 346, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 354, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 366, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 381, ../sass/partials/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 394, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 406, ../sass/partials/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 415, ../sass/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 424, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 432, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 456, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 470, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 488, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 499, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 514, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 529, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 538, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 549, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 564, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 581, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 592, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 602, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../sass/partials/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 667, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../sass/partials/_base.scss */
body {
  background-color: #E8E8E8;
  font-family: Helvetica, sans-serif, Arial;
}
/* line 6, ../sass/partials/_base.scss */
body .top-display, body .lower-display {
  display: block;
  margin: 0 auto;
  width: 900px;
  color: #808080;
}
@media (max-width: 1100px) {
  /* line 6, ../sass/partials/_base.scss */
  body .top-display, body .lower-display {
    display: block;
    margin: 0 auto;
    width: 900px;
    color: #808080;
  }
}
@media (max-width: 768px) {
  /* line 6, ../sass/partials/_base.scss */
  body .top-display, body .lower-display {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  /* line 6, ../sass/partials/_base.scss */
  body .top-display, body .lower-display {
    width: 100%;
    margin: 0 auto;
  }
}

/* line 43, ../sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 49, ../sass/partials/_base.scss */
.clear {
  clear: both;
}

/* line 53, ../sass/partials/_base.scss */
img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

@media (max-width: 480px) {
  /* line 56, ../sass/partials/_base.scss */
  .shadow {
    display: none;
  }
}

/* line 1, ../sass/partials/_header.scss */
.header {
  height: 50px;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  /* line 1, ../sass/partials/_header.scss */
  .header {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  /* line 1, ../sass/partials/_header.scss */
  .header {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 14, ../sass/partials/_header.scss */
.header .header-left {
  width: 450px;
}
@media (max-width: 1100px) {
  /* line 14, ../sass/partials/_header.scss */
  .header .header-left {
    width: 450px;
  }
}
@media (max-width: 768px) {
  /* line 14, ../sass/partials/_header.scss */
  .header .header-left {
    width: 50%;
  }
}
/* line 23, ../sass/partials/_header.scss */
.header .header-left img {
  margin: 19px 0 0 0;
}
@media (max-width: 1100px) {
  /* line 23, ../sass/partials/_header.scss */
  .header .header-left img {
    margin: 19px 0 0 0;
  }
}
/* line 31, ../sass/partials/_header.scss */
.header .header-right {
  width: 450px;
  float: right;
}
@media (max-width: 1100px) {
  /* line 31, ../sass/partials/_header.scss */
  .header .header-right {
    width: 450px;
    float: right;
  }
}
@media (max-width: 768px) {
  /* line 31, ../sass/partials/_header.scss */
  .header .header-right {
    width: 50%;
  }
}
/* line 42, ../sass/partials/_header.scss */
.header .header-right img {
  float: right;
  margin: -68px 7px 0 0;
}
@media (max-width: 1100px) {
  /* line 42, ../sass/partials/_header.scss */
  .header .header-right img {
    float: right;
    margin: -68px 7px 0 0;
  }
}
/* line 52, ../sass/partials/_header.scss */
.header .topline {
  margin: -21px 11px 0 0;
  float: right;
}
@media (max-width: 1100px) {
  /* line 52, ../sass/partials/_header.scss */
  .header .topline {
    margin: -21px 11px 0 0;
    float: right;
  }
}
@media (max-width: 480px) {
  /* line 52, ../sass/partials/_header.scss */
  .header .topline {
    display: none;
  }
}

/* line 1, ../sass/partials/_banner.scss */
.top-display .banner-section .banner {
  display: block;
  margin: -3px auto 20px auto;
  border: 5px solid #FFFFFF;
  box-shadow: 2px 2px 2px 2px #888888;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 1100px) {
  /* line 1, ../sass/partials/_banner.scss */
  .top-display .banner-section .banner {
    display: block;
    margin: -3px auto 20px auto;
    border: 5px solid #FFFFFF;
    box-shadow: 2px 2px 2px 2px #888888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    max-width: 95%;
  }
}

/* line 18, ../sass/partials/_banner.scss */
.top-display .banner-section .circles {
  display: block;
  margin: 0 auto 10px auto;
  background-color: #E8E8E8;
}
@media (max-width: 1100px) {
  /* line 18, ../sass/partials/_banner.scss */
  .top-display .banner-section .circles {
    display: block;
    margin: 0 auto 10px auto;
  }
}

/* line 1, ../sass/partials/_middle.scss */
.middle-section {
  width: 100%;
  height: 233px;
  margin: 20px 0 0 0;
  background: url(../img/gradient-slice.png) repeat-x;
}
@media (max-width: 1100px) {
  /* line 1, ../sass/partials/_middle.scss */
  .middle-section {
    width: 100%;
    height: 233px;
    margin: 20px 0 0 0;
    background: url(../img/gradient-slice.png) repeat-x;
  }
}
/* line 14, ../sass/partials/_middle.scss */
.middle-section .middle-container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1100px) {
  /* line 14, ../sass/partials/_middle.scss */
  .middle-section .middle-container {
    width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  /* line 14, ../sass/partials/_middle.scss */
  .middle-section .middle-container {
    width: 100%;
  }
}
/* line 27, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-description {
  float: left;
  width: 66%;
  padding: 30px;
  color: #FFFFFF;
  line-height: 20px;
}
@media (max-width: 1100px) {
  /* line 27, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-description {
    line-height: 20px;
    float: left;
    padding: 30px;
    width: 66%;
  }
}
@media (max-width: 768px) {
  /* line 27, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-description {
    float: left;
    width: 66%;
    line-height: 15px;
  }
}
@media (max-width: 480px) {
  /* line 27, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-description {
    float: none;
    margin: 0;
    width: 100%;
    padding: 9px;
  }
}
/* line 53, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-description h3 {
  margin: -2px 0px 4px 11px;
  color: white;
}
@media (max-width: 1100px) {
  /* line 53, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-description h3 {
    margin: -2px 0px 4px 11px;
  }
}
/* line 61, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-description p {
  margin: -3px 0px 13px 15px;
  font-size: 13px;
  color: white;
}
@media (max-width: 1100px) {
  /* line 61, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-description p {
    margin: -3px 0px 13px 15px;
    font-size: 13px;
  }
}
/* line 71, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-description ul {
  margin: -4px 0 0px 22px;
  font-size: 13px;
  color: white;
  list-style: none;
}
/* line 79, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-example {
  margin: 9px 0 0 0;
  float: right;
  width: 33%;
}
@media (max-width: 1100px) {
  /* line 79, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-example {
    margin: 9px 0 0 0;
    float: right;
    width: 33%;
  }
}
@media (max-width: 768px) {
  /* line 79, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-example {
    float: right;
    width: 33%;
  }
}
@media (max-width: 480px) {
  /* line 79, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-example {
    float: left;
    margin: 0px;
    width: 100%;
    height: 165px;
    padding: 28px;
    background-color: #000000;
    border-bottom: solid 2px #000000;
  }
}
/* line 102, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-example .titan-logo {
  margin: 0 0px 0 -7px;
}
@media (max-width: 480px) {
  /* line 102, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-example .titan-logo {
    margin: 0 20px 0 10px;
  }
}
/* line 109, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-example .pro-design {
  margin: 4px 0 0 5px;
}
@media (max-width: 480px) {
  /* line 109, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-example .pro-design {
    margin: 4px 0 0 30px;
  }
}
/* line 116, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-example .high-end {
  margin: 7px 0px 7px -8px;
}
@media (max-width: 480px) {
  /* line 116, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-example .high-end {
    margin: 7px 20px 7px 10px;
  }
}
/* line 123, ../sass/partials/_middle.scss */
.middle-section .middle-container .middle-example .see-our-work {
  margin: 9px 0px 0px 1px;
}
@media (max-width: 480px) {
  /* line 123, ../sass/partials/_middle.scss */
  .middle-section .middle-container .middle-example .see-our-work {
    margin: 9px 0px 0px 1px;
  }
}

/* line 1, ../sass/partials/_footer.scss */
.lower-display .footer {
  height: 120px;
  margin: 80px 1px 0px 0px;
}
@media (max-width: 1100px) {
  /* line 1, ../sass/partials/_footer.scss */
  .lower-display .footer {
    height: 120px;
    margin: 80px 1px 0px 0px;
  }
}
@media (max-width: 768px) {
  /* line 1, ../sass/partials/_footer.scss */
  .lower-display .footer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 13, ../sass/partials/_footer.scss */
  .lower-display .footer .big-white-box {
    display: none;
    margin: 20px auto;
  }
}
@media (max-width: 480px) {
  /* line 13, ../sass/partials/_footer.scss */
  .lower-display .footer .big-white-box {
    display: none;
  }
}
/* line 23, ../sass/partials/_footer.scss */
.lower-display .footer .company-bar {
  width: 90%;
  position: absolute;
  display: inline;
  margin: -100px 0 0 34px;
}
@media (max-width: 1100px) {
  /* line 23, ../sass/partials/_footer.scss */
  .lower-display .footer .company-bar {
    width: 90%;
    position: absolute;
    display: inline;
    margin: -100px 0 0 34px;
  }
}
@media (max-width: 768px) {
  /* line 23, ../sass/partials/_footer.scss */
  .lower-display .footer .company-bar {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding: 20px 0 0 0;
    float: none;
    width: 90%;
    height: 150px;
    background-color: #FFFFFF;
    display: block;
    margin: 20px auto 0 auto;
  }
}
/* line 47, ../sass/partials/_footer.scss */
.lower-display .footer .company-bar ul {
  margin: 0;
}
@media (max-width: 1100px) {
  /* line 47, ../sass/partials/_footer.scss */
  .lower-display .footer .company-bar ul {
    margin: 0;
  }
}
/* line 53, ../sass/partials/_footer.scss */
.lower-display .footer .company-bar ul li {
  display: inline;
  margin: 0 0 0 18px;
}
@media (max-width: 1100px) {
  /* line 53, ../sass/partials/_footer.scss */
  .lower-display .footer .company-bar ul li {
    display: inline;
    margin: 0 0 0 18px;
  }
}

/* line 66, ../sass/partials/_footer.scss */
.lower-display .blue-bar {
  position: absolute;
  width: 888px;
  margin: -69px 0px 0 -18px;
}
@media (max-width: 1100px) {
  /* line 66, ../sass/partials/_footer.scss */
  .lower-display .blue-bar {
    position: absolute;
    width: 888px;
    margin: -69px 0px 0 -18px;
  }
}
@media (max-width: 768px) {
  /* line 66, ../sass/partials/_footer.scss */
  .lower-display .blue-bar {
    width: 90%;
    float: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #468dc9;
    margin: 32px;
  }
}
/* line 83, ../sass/partials/_footer.scss */
.lower-display .blue-bar li {
  display: inline;
  color: white;
  font-size: 12px;
}
@media (max-width: 1100px) {
  /* line 83, ../sass/partials/_footer.scss */
  .lower-display .blue-bar li {
    display: inline;
  }
}
@media (max-width: 768px) {
  /* line 83, ../sass/partials/_footer.scss */
  .lower-display .blue-bar li {
    display: inline;
  }
}
/* line 95, ../sass/partials/_footer.scss */
.lower-display .blue-bar .contact {
  float: left;
}
@media (max-width: 1100px) {
  /* line 95, ../sass/partials/_footer.scss */
  .lower-display .blue-bar .contact {
    float: left;
    margin: 0 10px 0 0;
  }
}
/* line 102, ../sass/partials/_footer.scss */
.lower-display .blue-bar .our-clients {
  float: right;
}
@media (max-width: 1100px) {
  /* line 102, ../sass/partials/_footer.scss */
  .lower-display .blue-bar .our-clients {
    float: right;
    margin: 0 10px 0 0;
  }
}

/* line 1, ../sass/partials/_navbar.scss */
.navbar {
  margin: 0 20px 2px 0;
}
@media (max-width: 1100px) {
  /* line 1, ../sass/partials/_navbar.scss */
  .navbar {
    margin: 0 20px 2px 0;
  }
}
/* line 6, ../sass/partials/_navbar.scss */
.navbar ul {
  margin: -0.5em 0;
}
@media (max-width: 1100px) {
  /* line 6, ../sass/partials/_navbar.scss */
  .navbar ul {
    margin: -0.5em 0;
  }
}
/* line 13, ../sass/partials/_navbar.scss */
.navbar li {
  float: right;
  display: inline;
  margin: 0 3px 0 3px;
}
@media (max-width: 1100px) {
  /* line 13, ../sass/partials/_navbar.scss */
  .navbar li {
    float: right;
    display: inline;
    margin: 0 3px 0 3px;
  }
}
/* line 24, ../sass/partials/_navbar.scss */
.navbar li img {
  margin: 0 3px 0 0;
}
@media (max-width: 1100px) {
  /* line 24, ../sass/partials/_navbar.scss */
  .navbar li img {
    margin: 0 3px 0 0;
  }
}
/* line 31, ../sass/partials/_navbar.scss */
.navbar li a:link {
  font-size: 13px;
  color: #000000;
  text-decoration: none;
}

/* line 1, ../sass/partials/_whosection.scss */
.lower-display .social-banner {
  width: 900px;
  border: 0 0 1px 0 solid #808080;
  height: 60px;
}
@media (max-width: 1100px) {
  /* line 1, ../sass/partials/_whosection.scss */
  .lower-display .social-banner {
    border: 0 0 1px 0 solid #808080;
    height: 60px;
  }
}
@media (max-width: 768px) {
  /* line 1, ../sass/partials/_whosection.scss */
  .lower-display .social-banner {
    border: 0 0 1px 0 solid #808080;
    height: 60px;
    width: 100%;
  }
}
/* line 19, ../sass/partials/_whosection.scss */
.lower-display .social-banner .social-left {
  width: 50%;
  font-size: 21px;
  color: #808080;
  float: left;
  margin: 0;
}
@media (max-width: 1100px) {
  /* line 19, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left {
    width: 50%;
    font-size: 21px;
    color: #808080;
    float: left;
    margin: 0;
  }
}
@media (max-width: 768px) {
  /* line 19, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left {
    width: 50%;
  }
}
@media (max-width: 480px) {
  /* line 19, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
/* line 44, ../sass/partials/_whosection.scss */
.lower-display .social-banner .social-left .some-words {
  list-style: none;
  margin: 5px 0 0 0;
}
@media (max-width: 1100px) {
  /* line 44, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left .some-words {
    list-style: none;
    margin: 5px 0 0 0;
  }
}
@media (max-width: 768px) {
  /* line 44, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left .some-words {
    margin: 0;
  }
}
@media (max-width: 480px) {
  /* line 44, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left .some-words {
    margin: 0;
  }
}
/* line 58, ../sass/partials/_whosection.scss */
.lower-display .social-banner .social-left .some-words li {
  display: inline;
}
@media (max-width: 1100px) {
  /* line 58, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left .some-words li {
    display: inline;
  }
}
@media (max-width: 768px) {
  /* line 58, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left .some-words li {
    display: inline;
  }
}
/* line 67, ../sass/partials/_whosection.scss */
.lower-display .social-banner .social-left .some-words img {
  margin: 9px 0 0 0;
}
@media (max-width: 1100px) {
  /* line 67, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left .some-words img {
    margin: 9px 0 0 0;
  }
}
@media (max-width: 768px) {
  /* line 67, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-left .some-words img {
    margin: 0;
  }
}
/* line 80, ../sass/partials/_whosection.scss */
.lower-display .social-banner .social-right {
  width: 50%;
  float: right;
  color: #808080;
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: right;
}
@media (max-width: 1100px) {
  /* line 80, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-right {
    width: 50%;
    float: right;
    color: gray;
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 768px) {
  /* line 80, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-right {
    width: 50%;
  }
}
@media (max-width: 480px) {
  /* line 80, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-right {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
/* line 106, ../sass/partials/_whosection.scss */
.lower-display .social-banner .social-right img {
  float: right;
  margin: 0 0 0 7px;
}
@media (max-width: 1100px) {
  /* line 106, ../sass/partials/_whosection.scss */
  .lower-display .social-banner .social-right img {
    float: right;
    margin: 0 0 0 7px;
  }
}

/* line 128, ../sass/partials/_whosection.scss */
.lower-display .who-section {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
}
@media (max-width: 1100px) {
  /* line 128, ../sass/partials/_whosection.scss */
  .lower-display .who-section {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 768px) {
  /* line 128, ../sass/partials/_whosection.scss */
  .lower-display .who-section {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 128, ../sass/partials/_whosection.scss */
  .lower-display .who-section {
    width: 100%;
  }
}
/* line 147, ../sass/partials/_whosection.scss */
.lower-display .who-section .shadow {
  position: absolute;
  z-index: -25;
  margin: -8px 0px 0px 0px;
}
@media (max-width: 1100px) {
  /* line 147, ../sass/partials/_whosection.scss */
  .lower-display .who-section .shadow {
    position: absolute;
    z-index: -25;
    margin: -8px 0px 0px 0px;
  }
}
@media (max-width: 480px) {
  /* line 147, ../sass/partials/_whosection.scss */
  .lower-display .who-section .shadow {
    display: none;
  }
}
/* line 162, ../sass/partials/_whosection.scss */
.lower-display .who-section .who-one {
  width: 205px;
  margin: 1px 10px 1px 10px;
  float: left;
}
@media (max-width: 1100px) {
  /* line 162, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one {
    width: 205px;
    height: 300px;
    margin: 1px 10px 25px 10px;
    float: left;
  }
}
@media (max-width: 768px) {
  /* line 162, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one {
    width: 50%;
    margin: 0 auto;
    padding: 0 40px 0 40px;
  }
}
@media (max-width: 480px) {
  /* line 162, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one {
    width: 100%;
    margin: 0 auto 40px auto;
    display: block;
    padding: 30px;
  }
}
/* line 184, ../sass/partials/_whosection.scss */
.lower-display .who-section .who-one .flag {
  margin: 0 7px 0 16px;
}
@media (max-width: 1100px) {
  /* line 184, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .flag {
    margin: 0 7px 0 16px;
  }
}
@media (max-width: 768px) {
  /* line 184, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .flag {
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 480px) {
  /* line 184, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .flag {
    margin: 0 auto;
    width: 75%;
  }
}
/* line 200, ../sass/partials/_whosection.scss */
.lower-display .who-section .who-one .who-title {
  color: #468dc9;
  font-style: bold;
  font-size: 14px;
  margin: 0;
}
@media (max-width: 1100px) {
  /* line 200, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .who-title {
    margin: 0;
  }
}
/* line 213, ../sass/partials/_whosection.scss */
.lower-display .who-section .who-one .blurb {
  font-size: 13px;
  color: #808080;
  padding: 0 0 0 17px;
  line-height: 1.4;
  margin: 2px 0 0 0;
  text-align: justify;
}
@media (max-width: 1100px) {
  /* line 213, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .blurb {
    padding: 0 0 0 17px;
    line-height: 1.4;
    margin: 2px 0 0 0;
    text-align: justify;
  }
}
@media (max-width: 768px) {
  /* line 213, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .blurb {
    padding: 0 0 0 17px;
    line-height: 1.1;
    margin: 2px 0 0 0;
    text-align: justify;
  }
}
@media (max-width: 480px) {
  /* line 213, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .blurb {
    width: 75%;
    line-height: 1.1;
    margin: 2px auto 0 auto;
    text-align: justify;
    padding: 0;
  }
}
/* line 241, ../sass/partials/_whosection.scss */
.lower-display .who-section .who-one .icon {
  float: left;
  margin: 0 8px 0 18px;
}
@media (max-width: 1100px) {
  /* line 241, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .icon {
    float: left;
    margin: 0 8px 0 18px;
  }
}
@media (max-width: 768px) {
  /* line 241, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .icon {
    float: left;
  }
}
@media (max-width: 480px) {
  /* line 241, ../sass/partials/_whosection.scss */
  .lower-display .who-section .who-one .icon {
    float: left;
    padding: 0 0 0 30px;
  }
}

/* line 1, ../sass/partials/_seocontent.scss */
.lower-display .seo-content {
  margin: 10px auto 0 auto;
}
@media (max-width: 1100px) {
  /* line 1, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content {
    margin: 10px auto 0 auto;
  }
}
@media (max-width: 768px) {
  /* line 1, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content {
    margin: 10px auto 0 auto;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content {
    margin: 10px auto 0 auto;
  }
}
/* line 14, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .shadow {
  margin: -10px 0 -10px 0;
  position: absolute;
  z-index: -25;
}
@media (max-width: 1100px) {
  /* line 14, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .shadow {
    margin: -10px 0 -10px 0;
    position: absolute;
    z-index: -25;
  }
}
@media (max-width: 768px) {
  /* line 14, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .shadow {
    margin: -10px 0 -10px 0;
    position: absolute;
    z-index: -25;
  }
}
@media (max-width: 480px) {
  /* line 14, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .shadow {
    display: none;
  }
}
/* line 33, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-top {
  width: 621px;
  margin: 18px 0px 0px 20px;
  float: left;
}
@media (max-width: 1100px) {
  /* line 33, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top {
    width: 621px;
    margin: 18px 0px 0px 20px;
    float: left;
  }
}
@media (max-width: 768px) {
  /* line 33, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 33, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top {
    width: 100%;
    float: none;
    margin: 30px 0 10px 0;
  }
}
/* line 52, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-top .seo-content1 {
  width: 207px;
  display: inline;
  float: left;
}
@media (max-width: 1100px) {
  /* line 52, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 {
    width: 207px;
    display: inline;
    float: left;
  }
}
@media (max-width: 768px) {
  /* line 52, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 {
    width: 33%;
    display: inline;
    float: left;
  }
}
@media (max-width: 480px) {
  /* line 52, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 {
    width: 70%;
    display: block;
    float: none;
    margin: 0px auto;
  }
}
/* line 83, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-top .seo-content1 .placeholder {
  margin: 0 0 0 12px;
}
@media (max-width: 1100px) {
  /* line 83, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .placeholder {
    margin: 0 0 0 12px;
  }
}
@media (max-width: 768px) {
  /* line 83, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .placeholder {
    width: 90%;
    margin: 0 5px;
  }
}
@media (max-width: 480px) {
  /* line 83, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .placeholder {
    width: 100%;
    margin: 0 auto 0 auto;
  }
}
/* line 98, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-top .seo-content1 .seo-title {
  width: 190px;
  font-size: 14px;
  color: #468dc9;
  margin: 0 0 0 10px;
}
@media (max-width: 1100px) {
  /* line 98, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .seo-title {
    margin: 0 0 0 10px;
    width: 190px;
  }
}
@media (max-width: 768px) {
  /* line 98, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .seo-title {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  /* line 98, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .seo-title {
    margin: 0 auto;
  }
}
/* line 115, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-top .seo-content1 .seo-stuffing {
  padding: 0 0 0 10px;
  font-size: 13px;
  color: #808080;
  line-height: 1.4;
  margin: 2px 0 0 0;
  text-align: justify;
}
@media (max-width: 1100px) {
  /* line 115, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .seo-stuffing {
    line-height: 1.4;
    margin: 2px 0 0 0;
    text-align: justify;
    padding: 0 0 0 10px;
  }
}
@media (max-width: 768px) {
  /* line 115, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .seo-stuffing {
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 480px) {
  /* line 115, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-top .seo-content1 .seo-stuffing {
    margin: 0 auto;
    width: 75%;
  }
}
/* line 141, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-right {
  width: 240px;
  margin: 18px 11px 0 0;
  background: #FFFFFF;
  float: right;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 1100px) {
  /* line 141, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right {
    width: 240px;
    height: 382px;
    margin: 18px 11px 0 0;
    background: #FFFFFF;
    float: right;
  }
}
@media (max-width: 768px) {
  /* line 141, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width: 40%;
    margin: 10px 10px 0 5px;
  }
}
@media (max-width: 480px) {
  /* line 141, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width: 90%;
    margin: 10px auto;
    float: none;
  }
}
/* line 168, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-right .seo-right-top {
  height: 260px;
}
@media (max-width: 1100px) {
  /* line 168, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-top {
    height: 260px;
  }
}
/* line 174, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-right .seo-right-top .cool-title {
  margin: 7px 7px 0 0;
  text-align: center;
  font-size: 14px;
  color: #468dc9;
}
@media (max-width: 1100px) {
  /* line 174, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-top .cool-title {
    margin: 7px 7px 0 0;
    text-align: center;
  }
}
/* line 188, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-right .seo-right-bottom img {
  margin: -2px 0 0 34px;
}
@media (max-width: 1100px) {
  /* line 188, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-bottom img {
    margin: -2px 0 0 34px;
  }
}
@media (max-width: 768px) {
  /* line 188, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-bottom img {
    margin: 0 0 0 45px;
  }
}
@media (max-width: 480px) {
  /* line 188, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-bottom img {
    margin: 0 0 0 120px;
  }
}
/* line 201, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-right .seo-right-bottom .made-in-usa {
  width: 205px;
  margin: 5px 0 0 19px;
  color: #808080;
  text-align: center;
  font-size: 11px;
  line-height: 1.4;
}
@media (max-width: 1100px) {
  /* line 201, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-bottom .made-in-usa {
    width: 205px;
    margin: 5px 0 0 19px;
    text-align: center;
    line-height: 1.4;
  }
}
@media (max-width: 768px) {
  /* line 201, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-bottom .made-in-usa {
    width: 95%;
    margin: 5px 0 0 5px;
    text-align: center;
    line-height: 1.1;
  }
}
@media (max-width: 480px) {
  /* line 201, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-right .seo-right-bottom .made-in-usa {
    width: 95%;
    margin: 5px 0 0 5px;
    text-align: center;
    line-height: 1.1;
  }
}
/* line 231, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-bottom {
  width: 621px;
  height: 142px;
  margin: 0 0 0 20px;
  float: left;
}
@media (max-width: 1100px) {
  /* line 231, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-bottom {
    width: 621px;
    height: 142px;
    margin: 0 0 0 20px;
    float: left;
  }
}
@media (max-width: 768px) {
  /* line 231, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-bottom {
    width: 55%;
    margin: 10px auto;
  }
}
@media (max-width: 480px) {
  /* line 231, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-bottom {
    width: 100%;
    margin: 10px auto;
    float: left;
    display: block;
    padding: 0 20px 0 20px;
  }
}
/* line 254, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-bottom .seo-bottom-title {
  font-size: 14px;
  color: #468dc9;
  margin: 10px 0 0 8px;
}
@media (max-width: 1100px) {
  /* line 254, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-bottom .seo-bottom-title {
    margin: 10px 0 0 8px;
  }
}
/* line 264, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .seo-left-bottom .seo-stuffing {
  padding: 0 0 0 10px;
  font-size: 13px;
  color: #808080;
  line-height: 1.4;
  margin: 2px 0 0 0;
  text-align: justify;
}
@media (max-width: 1100px) {
  /* line 264, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .seo-left-bottom .seo-stuffing {
    padding: 0 0 0 10px;
    line-height: 1.4;
    margin: 2px 0 0 0;
    text-align: justify;
  }
}
/* line 282, ../sass/partials/_seocontent.scss */
.lower-display .seo-content .low-logo {
  float: right;
  margin: 30px 49px 0 0;
}
@media (max-width: 1100px) {
  /* line 282, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .low-logo {
    float: right;
    margin: 30px 49px 0 0;
  }
}
@media (max-width: 768px) {
  /* line 282, ../sass/partials/_seocontent.scss */
  .lower-display .seo-content .low-logo {
    margin: 45px 49px 0 0;
  }
}
